# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Fichiers de développement
README.md
*.md

# Tests
__tests__
*.test.*
jest.config.*
jest.setup.*

# Autres
*.log
tmp/
temp/
